<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платный сыр</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Добавляем стили для скрытия элементов по умолчанию */
        #successMessage, #stopMessage, .button-block {
            display: none;
        }
    </style>
</head>
<body>
    <div id="model-container"></div>
    <div class="content">
        <h1 id="username"></h1>
        <div class="raffle-info">
        </div>
        <h2 class="raffle-name">Платный сыр</h2> <!-- Название розыгрыша -->
        
        <!-- Количество билетов -->
        <p class="raffle-tickets">{{ settings['remaining_tickets'] }} / {{ settings['tickets_count'] }}</p>
        <!-- Прогресс-бар -->
        <div class="progress-bar-container">
            <div class="progress-bar">
                <div class="progress" style="width: {{ (settings['remaining_tickets'] / settings['tickets_count']) * 100 }}%;"></div>
            </div>
        </div>

        <p class="raffle-date">Дата завершения - {{ settings['date'] }}<br>или раньше, если будет набрано необходимое количество участников</p> <!-- Дата окончания розыгрыша -->

        <!-- Логика отображения кнопок или сообщения "Сыр закончился" -->
        <div class='price-block'>
            <p class='price'>{{ settings['tickets_price'] }}</p>
            <p class='network'>network ton</p>
        </div>
        {% if settings['remaining_tickets'] > 0 %}
            <div class='button-block'>
                <div><button id="buyButton">pay</button></div>
                <div>
                    <button id="checkPaymentButton" class="secondary-button">check</button>
                    <p id="statusMessage"></p>
                </div>
            </div>
        {% else %}
            <p id="stopMessage">Сыр закончился</p>
        {% endif %}
        <p id='successMessage'>Я участвую!</p>
    </div>
    
    <div class='link-block'>
        {% for ad in ads %}
        <a href="{{ ad[3] }}" class='link'>
            <p>></p>
            <h1>{{ ad[1] }}</h1>
            <h2>{{ ad[2] }}</h2>
        </a>
        {% endfor %}
    </div>
    
    <!-- Контейнер для вывода логов -->
    <div id="log-container" style="white-space: pre-wrap; background-color: #f4f4f4; padding: 10px; border: 1px solid #ccc; max-height: 200px; overflow-y: auto;"></div>

    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>

    <script>
        // Функция для вывода логов на экран
        function logToScreen(message) {
            console.log(message);
            const logContainer = document.getElementById('log-container');
            logContainer.textContent += message + '\n';
            logContainer.scrollTop = logContainer.scrollHeight; // Прокручиваем вниз к новому сообщению
        }

        logToScreen('Script started');

        const tg = window.Telegram.WebApp;
        tg.setHeaderColor("#000000");
        tg.expand();

        const usernameElement = document.getElementById('username');
        const statusMessage = document.getElementById('statusMessage');
        const successMessage = document.getElementById('successMessage');
        const stopMessage = document.getElementById('stopMessage');
        const buyButton = document.getElementById('buyButton');
        const checkPaymentButton = document.getElementById('checkPaymentButton');

        if (usernameElement) {
            console.log('1 Element найден:', usernameElement);
        } else {
            console.log('Element не найден');
        }

        if (successMessage) {
            console.log('Element найден:', successMessage);
        } else {
            console.log('Element не найден');
        }

        if (tg.initDataUnsafe.user) {
            const user = tg.initDataUnsafe.user;
            const userId = user.id;
            const username = user.username ? `${user.username}` : '';
            usernameElement.textContent = username;
            logToScreen('Fetching status for user: ' + username);

            fetch(`/check_status/${userId}?username=${encodeURIComponent(username)}`)
                .then(response => response.json())
                .then(data => {
                    logToScreen('Status: ' + data.status);
                    if (data.status === 'suc') {
                        usernameElement.classList.add('bounce-text');
                        if (buyButton) buyButton.style.display = 'none';
                        if (checkPaymentButton) checkPaymentButton.style.display = 'none';
                        if (statusMessage) statusMessage.textContent = '';
                        if (stopMessage) stopMessage.style.display = 'none';
                        successMessage.textContent = 'Я участвую!';
                        successMessage.style.display = 'block'; // Показываем сообщение
                        const fullText = `${user.username || user.first_name}`;
                        if (fullText) {
                            console.log('2 fullText найден:', fullText);
                        } else {
                            console.log('2 Element не найден');
                        }
                        usernameElement.innerHTML = ' ';
                        for (let i = 0; i < fullText.length; i++) {
                            const span = document.createElement('span');
                            span.textContent = fullText[i];
                            span.style.setProperty('--i', i);
                            usernameElement.appendChild(span);
                        }
                        
                    } else if (data.status === 'no_tickets') {
                        if (buyButton) buyButton.style.display = 'none';
                        if (checkPaymentButton) checkPaymentButton.style.display = 'none';
                        if (statusMessage) statusMessage.textContent = '';
                        if (successMessage) successMessage.style.display = 'none';
                        stopMessage.textContent = 'Сыр закончился';
                        stopMessage.style.display = 'block'; // Показываем сообщение
                    } else {
                        successMessage.style.display = 'none'; // Скрываем сообщение
                        if (stopMessage) stopMessage.style.display = 'none';
                        usernameElement.textContent = `${user.username || user.first_name}`;
                        const buttonBlock = document.querySelector('.button-block');
                        if (buttonBlock) buttonBlock.style.display = 'block'; // Показываем кнопки

                        if (buyButton) {
                            buyButton.addEventListener('click', () => {
                                logToScreen('Buy button clicked.');
                                if (data.invoice_url) {
                                    logToScreen('Redirecting to invoice: ' + data.invoice_url);
                                    window.location.href = data.invoice_url;
                                } else {
                                    logToScreen('No invoice URL, reloading page.');
                                    window.location.reload();
                                }
                            });
                        }

                        if (checkPaymentButton) {
                            checkPaymentButton.addEventListener('click', () => {
                                logToScreen('Checking payment status...');
                                fetch(`/check_payment/${userId}`, {
                                    method: 'POST'
                                })
                                .then(response => response.json())
                                .then(data => {
                                    logToScreen('Payment check response: ' + JSON.stringify(data));
                                    if (data.status === 'suc') {
                                        if (statusMessage) statusMessage.textContent = 'Оплачено!';
                                        setTimeout(() => {
                                            window.location.reload();
                                        }, 2000);
                                    } else if (data.status === 'not_paid') {
                                        if (statusMessage) statusMessage.textContent = 'Не оплачено';
                                    }
                                })
                                .catch(error => {
                                    logToScreen('Error checking payment: ' + error);
                                });
                            });
                        }
                    }
                })
                .catch(error => {
                    logToScreen('Error fetching status: ' + error);
                    // В случае ошибки можно отобразить сообщение или скрыть кнопки
                    if (buyButton) buyButton.style.display = 'none';
                    if (checkPaymentButton) checkPaymentButton.style.display = 'none';
                    if (successMessage) successMessage.style.display = 'none';
                    if (stopMessage) stopMessage.style.display = 'none';
                    if (statusMessage) statusMessage.textContent = 'Произошла ошибка. Пожалуйста, попробуйте позже.';
                });
        } else {
            logToScreen('Пользователь не найден.');
            // Можно скрыть кнопки или отобразить сообщение
            if (buyButton) buyButton.style.display = 'none';
            if (checkPaymentButton) checkPaymentButton.style.display = 'none';
            if (successMessage) successMessage.style.display = 'none';
            if (stopMessage) stopMessage.style.display = 'none';
            if (statusMessage) statusMessage.textContent = 'Пользователь не найден.';
        }

    // 3D-модель и анимация
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

    const renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setSize(window.innerWidth, window.innerHeight);
    document.getElementById('model-container').appendChild(renderer.domElement);

    // Добавляем базовый свет
    const light = new THREE.DirectionalLight(0xffffff, 1);
    light.position.set(0, -10, 10).normalize();
    scene.add(light);

    const ambientLight = new THREE.AmbientLight(0x404040); // Мягкое общее освещение
    scene.add(ambientLight);
    // Добавляем точечный свет
    const pointLight = new THREE.PointLight(0xffffff, 1, 100); // Белый свет, интенсивность 1, радиус освещения 100
    pointLight.position.set(5, 5, 5); // Устанавливаем позицию источника света
    scene.add(pointLight);

    // Добавляем окружной свет (имитация освещения от неба и земли)
    const hemisphereLight = new THREE.HemisphereLight(0x4040ff, 0xff4040, 0.6); // Голубой свет сверху и красноватый снизу, интенсивность 0.6
    scene.add(hemisphereLight);

    // Дополнительный направленный свет
    const additionalLight = new THREE.DirectionalLight(0xffffff, 0.5); // Интенсивность 0.5 для мягкого света
    additionalLight.position.set(10, 10, -10); // Позиция света
    scene.add(additionalLight);

    const controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.enableDamping = true;
    controls.dampingFactor = 0.25;
    controls.enableZoom = false;
    controls.enablePan = false;
    controls.minPolarAngle = Math.PI / 2;
    controls.maxPolarAngle = Math.PI / 2;

    let model;
    const loader = new THREE.GLTFLoader();
    loader.load('static/logo.glb', function (gltf) {
        console.log('Model loaded:', gltf); // Проверяем загрузку модели
        model = gltf.scene;
        scene.add(model);
        console.log('Model added to the scene:', model);
    
        // Логгируем размеры модели
        const boundingBox = new THREE.Box3().setFromObject(model);
        const size = boundingBox.getSize(new THREE.Vector3());
        console.log('Model size:', size);
    
        // Если модель слишком большая или маленькая, масштабируем
        const scale = 1 / Math.max(size.x, size.y, size.z);
        model.scale.set(scale, scale, scale);
    
        // Наклон вперед по оси X
        model.rotation.x = Math.PI / 4; 
    
        // Отступ модели от верха на 10vh
        const offsetY = (window.innerHeight * 10) / 100;
        model.position.y = size.y / 2.5 + (offsetY / window.innerHeight) * 5; // Корректировка позиции Y
    
        // Позиционируем и наклоняем камеру
        camera.position.y = 2;  // Поднимаем камеру
        camera.position.z = 5;  // Оставляем расстояние по оси Z
        camera.lookAt(new THREE.Vector3(0, 0, 0));  // Камера смотрит на модель
    }, undefined, function (error) {
        console.error('Error loading model:', error); // Логгирование ошибки
    });
          

    function animate() {
        requestAnimationFrame(animate);
        if (model) {
            model.rotation.y += 0.01; // Анимация вращения
        }
        controls.update();
        renderer.render(scene, camera);
    }
    animate();

    </script>
</body>
</html>
